# database config.py
DB__HOST=postres
DB__PORT=5432
DB__NAME=postgres
DB__USER=postgres
DB__PASS=postgres
DB__DB_POOL_SIZE=5
DB__DB_MAX_OVERFLOW=10


#src config.py
BACKEND_SERVER__PORT=8080
BACKEND_SERVER__HOST=0.0.0.0
BACKEND_SERVER__WORKERS=1
BACKEND_SERVER__DEBUG=False
BACKEND_SERVER__METHODS=["GET", "POST", "OPTIONS", "DELETE", "PATCH", "PUT"]
BACKEND_SERVER__HEADERS=["*"]
BACKEND_SERVER__SERVER_HOST="localhost"
BACKEND_SERVER__DEBUG=True
